<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
</head>
<body>
<header th:fragment="header-index">
            <!-- main nav -->
            <div class="container-fluid fluid-nav">
                <div class="container cnt-tnar">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light tjnav-bar">
                        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
                        <a href="#" class="nav-logo">
                            <img src="img/mainLogo23.png">
                        </a>
                        <button class="navbar-toggler tnavbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <!-- <span class="navbar-toggler-icon"></span> -->
                            <i class="fa fa-bars icn-res" aria-hidden="true"></i>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto tnav-left tn-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="#">IT Job</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">News</a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Dropdown
                                    </a>
                                    <div class="dropdown-menu tdropdown" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </li>
                            </ul>
                            <ul class="navbar-nav mr-auto my-2 my-lg-0 tnav-right tn-nav">
                                <li class="nav-item active">
                                    <a class="nav-link" href="#"><i class="fa fa-search" aria-hidden="true"></i> <span
                                            class="hidden-text">Find</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Sign Up</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Sign In</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link btn-employers" href="#" tabindex="-1" aria-disabled="true">Sign In As Recruiter</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- (end) main nav -->

            <div class="clearfix"></div>

            <!-- main banner -->
            <div class="container-fluid clear-left clear-right">
                <div class="main-banner">
                    <div class="banner-image">
                        <img src="img/banner2-index.jpg" alt="banner-image">
                    </div>
                </div>
                <div class="banner-content">
                    <h3>High Salary Jobs For Developers</h3>
                    <div class="banner-tags">
                        <ul>
                            <li><a href="#">Java</a></li>
                            <li><a href="#">Python</a></li>
                            <li><a href="#">Tester</a></li>
                            <li><a href="#">QA QC</a></li>
                            <li><a href="#">.NET</a></li>
                            <li><a href="#">Javascript</a></li>
                            <li><a href="#">Business Analyst</a></li>
                            <li><a href="#">Designer</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- (end) main banner -->

            <!-- search section -->
            <div class="container-fluid search-fluid">
                <div class="container">
                    <div class="search-wrapper" style="margin-top: -11rem;">

                        <ul class="nav nav-tabs search-nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item search-nav-item">
                                <a class="nav-link snav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                    aria-controls="home" aria-selected="true">Finding Job</a>
                            </li>
                            <li class="nav-item search-nav-item">
                                <a class="nav-link snav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                    aria-controls="profile" aria-selected="false">Finding Company</a>
                            </li>
                        </ul>
                        <div class="tab-content search-tab-content" id="myTabContent">
                            <!-- content tab 1 -->
                            <div class="tab-pane stab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <form class="bn-search-form">
                                    <div class="row">
                                        <div class="col-md-10 col-sm-12">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <div class="input-group s-input-group">
                                                        <input type="text" class="form-control sinput"
                                                            placeholder="Enter experience, job,...">
                                                        <span><i class="fa fa-search"></i></span>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <select id="computer-languages">
                                                        <option value="" selected hidden>All Languages</option>
                                                        <option>Java</option>
                                                        <option>.NET</option>
                                                        <option>Javascript</option>
                                                        <option>Php</option>
                                                        <option>Python</option>
                                                        <option>QC QC</option>
                                                        <option>Business Analyst</option>
                                                        <option>Tester</option>
                                                        <option>Ruby</option>
                                                    </select>
                                                    <i class="fa fa-code sfa" aria-hidden="true"></i>
                                                </div>
                                                <div class="col-md-3">
                                                    <select id="s-provinces">
                                                        <option value="" selected hidden>All Location</option>
                                                        <option>Đà Nẵng</option>
                                                        <option>Hà Nội</option>
                                                        <option>Hồ Chí Minh</option>
                                                        <option>Buôn Ma Thuột</option>
                                                        <option>Quy Nhơn</option>
                                                        <option>Nha Trang</option>
                                                    </select>
                                                    <i class="fa fa-map-marker sfa" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-12">
                                            <button type="submit" class="btn btn-primary btn-search col-sm-12">Find</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- (end) content tab 1 -->
                            <!-- content tab 2 -->
                            <div class="tab-pane stab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <form class="bn-search-form">
                                    <div class="row">
                                        <div class="col-md-10 col-sm-12">
                                            <div class="input-group s-input-group w-100">
                                                <input type="text" class="form-control sinput"
                                                    placeholder="Enter company's name">
                                                <span><i class="fa fa-search"></i></span>
                                            </div>
                                        </div>
                                        <div class="col-md-2 col-sm-12">
                                            <button type="submit" class="btn btn-primary btn-search col-sm-12">Find</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- (end) content tab 2 -->
                        </div>

                    </div>
                </div>
            </div>
</header>
</body>
</html>
<!-- (end) search section -->