<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
</head>

<body>
    <!-- footer -->
    <footer class="container-fluid footer-wrap  clear-left clear-right" th:fragment="footer">
        <div class="container footer">
            <div class="row">
                <div class="col-md-4 col-sm-8 col-12">
                    <h2 class="footer-heading">
                        <span>About Us</span>
                    </h2>
                    <p class="footer-content">
                        Discover the best way to find a job and do what you love is not a job, but a fulfillment of your
                        passion.
                    </p>
                    <ul class="footer-contact">
                        <li>
                            <a href="#">
                                <i class="fa fa-phone fticn"></i> +84 865 894 853
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-envelope fticn"></i>
                                wendythach489@gmail.com
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-map-marker fticn"></i>
                                22A Kho Dau street, 5 ward, Tra Vinh city, Viet Nam
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-4 col-12">
                    <h2 class="footer-heading">
                        <span>COMMON LANGUAGES</span>
                    </h2>
                    <ul class="footer-list">
                        <li><a href="#">Javascript</a></li>
                        <li><a href="#">Java</a></li>
                        <li><a href="#">Frontend</a></li>
                        <li><a href="#">SQL Server</a></li>
                        <li><a href="#">.NET</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-6 col-12">
                    <h2 class="footer-heading">
                        <span>ALL JOB</span>
                    </h2>
                    <ul class="footer-list">
                        <li><a href="#">developer</a></li>
                        <li><a href="#">Testing</a></li>
                        <li><a href="#">Business Analysis</a></li>
                        <li><a href="#">Project Manager</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-6 col-12">
                    <h2 class="footer-heading">
                        <span>TIME FORMS</span>
                    </h2>
                    <ul class="footer-list">
                        <li><a href="#">Full-Time Job</a></li>
                        <li><a href="#">Part-Time Job</a></li>
                        <li><a href="#">Freelancer</a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-12 col-12">
                    <h2 class="footer-heading">
                        <span>LOCATION</span>
                    </h2>
                    <ul class="footer-list">
                        <li><a href="#">Can Tho</a></li>
                        <li><a href="#">Ho Chi Minh</a></li>
                        <li><a href="#">Ha Noi</a></li>
                        <li><a href="#">Tra Vinh</a></li>
                    </ul>
                </div>


            </div>
        </div>
    </footer>

    <footer class="container-fluid copyright-wrap">
        <div class="container copyright">
            <p class="copyright-content">
                Copyright © 2022 <a href="#"> Finding<b>Job</b></a>. All Right Reserved.
            </p>
        </div>
    </footer>


    <!-- (end) footer -->

</body>

</html>